      <!-- Footer-->
      <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; YEONJIKIM 2023</div></div>
                <div class="col-auto">
                    <span class="text-white mx-1">atangi@naver.com</span>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="mailto:atangi@naver.com">Contact</a>
                </div>
            </div>
        </div>
    </footer>