{% extends 'blog/base.html' %}
{% block page_area %}
<style>
    .card img {
        aspect-ratio: 6/1;
        object-fit: cover;
    }
</style>
    <br>
    <div class="d-flex justify-content-between align-items-end">
            <h1> Blog </h1>
            
            {# 로그인시에만 보이도록 개선 필요#}
            <a href="/create_post/" class="btn btn-dark">글쓰기</a> </p>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div class="board">
        {% for post in posts %}
        <div class="card" style="width: 60vw;">
            {% if post.header_img %}
            <!-- .url : 미디어타입을 url 주소로 변환해서 출력해주는 역할 https:// /media/ ~~~  -->
            <img src="{{ post.header_img.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
            <h4 class="card-title"><strong>{{ post.title }}</strong></h4>
            <p class="card-text d-flex justify-content-end">{{ post.created_at|date:'m. d. Y.' }} &nbsp; &nbsp; by {{ post.author }}</p>
            <hr>
            {# 템플릿필터에는 여러개조건도 |으로 걸 수 있습니다 #}
            <p class="card-text">{{ post.get_content_markdown|safe|truncatewords:20 }}</p>
            <div class="card-end d-flex justify-content-between">
                {{ post.category }}  <p class="card-text"> 
                <a href="{{ post.get_absolute_url }}" class="btn btn-dark">더보기</a> </p>
            </div>
            </div>
        </div>
        {% endfor %}

        {# pagenation #}

        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Prev</a>
        {% endif %}
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
        </div>

        <div class="widget">
        {% include 'blog/search_widget.html' %}
        </div>
    </div>
{% endblock %}