/* 전체 화면의 배경을 변경 */
body {
    background-color: beige;
}

.odd {
    /* 바뀐 상태 */
    font-size: 20px;
    /* 이건 안 바뀐 상태 */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#kurly, #coupang {
    font-size: 10px;
}

/* .odd{
    font-size: 100px;
} */

ul {
    font-size: 40px;
}
/* CSS - Cascading(폭포처럼 쏟아진다, 종속적인, 연속적인)
1) 속성 간의 관계 
font-size 40px : ul에게 줌 
  font-size 20px : class에게 줌 
   ul 이 더 큰 묶음이라서 모든 ul 아래에 있는 태그들에게 40px 적용
   class가 더 작은(특정된) 묶음이라서 class에게는 별도의 20px을 적용 
   id는 클래스보다 더 작은(한 html 파일에 1개 밖에 없는 것이 원칙인) 속성이라 10px이 적용 

2) 선언 순서 간의 관계
.odd 에게 20px 선언 
#coupang 에게 10px 선언
.odd 에게 30px 선언 (앞의 .odd에 대한 선언은 덮어씌워짐, 

그러나 속성 간의 관계보다 선언 순서 간의 관계가 더 우선됨 
하지만 #coupang은 id가 class 보다 특정된(작은) 개념이기에 여전히 영향력 있음

3) 어디에 적용했는지 간의 관계 
inline > internal > external 

   */

