.container{
    border: 3px solid black;
    background-color: antiquewhite;
    height: 100vh; /* 보이는 화면의 몇 % 를 쓸 것인지 */
}

.item {
    border: 1px dashed purple; 
}

.item:nth-child(3n+1) {
   background-color: aqua;
}

.item:nth-child(3n) {
   background-color: white;
}
/* 부모 컨테이너에 적용하는 속성 */
.container {
  display: grid;
  /* fr : 전체 grid를 구간으로 나누는 단위: 여백까지 알아서 계산을 하는 상대적 단위*/
  /* grid-template-columns: 3fr 7fr; */
  /* grid-template-columns: 200px 7fr; */
  /* grid-template-columns: 30% 70%; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* justify-content: center; */
  /* 세로축 */
  /* align-items: center; */

  /* grid-template-rows: 10% 10% 30%; */
}

/* 특정 자식 컨테이너의 영역을 따로 조정하기 쉽기 때문에 많이 사용 */
#item1 {
    grid-row:2/4
}

#item2 {
    grid-column: 1/5;
}

#item11 {
  grid-row: 4;
  grid-column: 3/5;
}

#item12 {
    grid-column: 1/5;
}